/* your styles go here */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lora:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Vollkorn':400,300,700);

.project-content{
/*
    margin-left:5vw;
    margin-right:5vw; 
*/  padding-left: 10%;
    padding-right:10%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 16px 16px;
    margin-top:50px;
    margin-bottom:30px;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/

}

/*
.project-content{
    margin-left:1.5vw;
    margin: 
}
*/

img.about{
    width:auto;
}

@media (min-width: 1200px) {
  .project-content {
    padding-left: 25px;
    padding-right: 25px;
  }
}

grid {
    padding-left: 10%;
    padding-right:10%;
    margin-left: 10%;
    margin-right: 10%;
}

h3, h4 {
}

h3 {
    font-size:10px;
    font-family:"Open Sans";
    margin-bottom: 2px;
}

hr {
    margin-bottom: 15px;
    margin-top: 10px;
}
h4 {
    font-size:9px;
    font-family:"Open Sans";
    font-weight:bold;
}

p {
    font-family:"Lora";
    color:black;
}



}

img.in-line{
    -webkit-box-shadow: 3px 3px 3px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    3px 3px 3px rgba(100, 100, 100, 0.49);
    box-shadow:         3px 3px 3px rgba(100, 100, 100, 0.49);
}

h2.project{
    font-family:"Open Sans";
    font-size:20px;
    color:coral;
}

h1.project{
    font-family:"Vollkorn";
    font-size: 35px;

}

.h3 new{
    color:white;
    background-color: black;
}








