/* your styles go here */
@import url(http://fonts.googleapis.com/css?family=OpenSans:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lora:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Vollkorn':400,300,700);

.project-content{
    color:black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 30%;
}



@media (min-width: 1200px) {
  .project-content {
    padding-left: 25px;
    padding-right: 25px;
  }
}

h3, h4 {
}

h3 {
    font-size:15px;
    font-family:"Open Sans";
}

h4 {
    font-size:15px;
    font-family:"Open Sans";
    text-transform: uppercase;
    font-weight: bold;
}

p {
    font-family:"Georgia";
    color:black;
}

p.project {
    font-family:"Vollkorn";
    font-size: 18px;

}

img.in-line{
    -webkit-box-shadow: 3px 3px 3px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    3px 3px 3px rgba(100, 100, 100, 0.49);
    box-shadow:         3px 3px 3px rgba(100, 100, 100, 0.49);
}

h2.project{
    font-family:"Open Sans";
    font-size:20px;
    color:coral;
}

h1.project{
    font-family:"Vollkorn";
    font-size: 35px;

}

img{
    width:100%;
    height:auto;
}

/*
.project-content h1,h2,h3,h4,p{
    padding-left:25%;
}

.project-content h2{
    font-size: 30px;
    color:coral;
}

.project-content a{
    border-bottom: 2px
}

.project-content a:hover{
    background-color: aquamarine;
}

.project-content p{
  color: black;
  font-family: 'Vollkorn' serif
}

*/

/*
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:100%;
}


.p project-content{
    color:black;
    padding-left: 40%;
}
/*
.content-column-content p,
.content-column-content li {
  color: #999999;
}
.content-column-content ul li {
  list-style-type: none;
}
.content-column-content ul li:before {
  font-family: 'FontAwesome';
  content: '\f105';
  margin: 0 5px 0 -15px;
  color: #2065a1;
}
*/

.navbar-brand {
    font-family: 'OpenSans';
    text-transform: uppercase;
    color : white;
    text-align:justify;
    vertical-align:text-bottom;
}

.navbar {
    font-family:'OpenSans';
    text-transform: uppercase;
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
    box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);

}

.h3 new{
    color:white;
    background-color: black;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  box-shadow: 10px 10px;
}

ul.topnav li {float: center;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: left;
  padding: 16px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
  }
}

ul.topnav li a:active {
    background-color:aliceblue
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }
}







